.header{
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 576px){
   padding-bottom: 200px;
  }
  .bg-red-line{
    position: absolute;
    top: -174px;
    right: -31%;
    height: 1240px;
    width: 900px;
    z-index: 900;
    border-radius: 50%;
    border: 2px dashed #b9b9b9;
    @media screen and (max-width: 576px){
      height: 420px;
      width: 420px;
      top: -40px;
      right: -270px;
    }
  }
  .bg-white-line{
    position: absolute;
    top: -174px;
    right: -37%;
    height: 1040px;
    width: 900px;
    z-index: 900;
    border-radius: 53.5%;
    border: 2px dashed #cd4c4e;
    @media screen and (max-width: 576px){
      width: 405px;
      height: 395px;
      top: -40px;
      right: -290px;
    }
  }
  .header-title{
    margin-top: 90px;
    padding: 0 30px;
    background-image: url("../../images/dots-arrow-left-side.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 13.4% 80%;
    @media screen and (max-width: 576px){
      margin: 0;
      padding: 0 10px;
      background-size: 37% ;
    }
    h1{
      font-size: 63px;
      font-weight: 500;
      padding: 70px 31px 31px 31px;
      letter-spacing: -.04em;
      font-family: inherit;
      color: #242b34;
      @media screen and (max-width: 576px){
        margin: 0;
        padding: 35px 25px 30px;
        font-size: 40px;
      }
    }
    .red-line{
      width: 100px;
      height: 3px;
      background: #e3173e;
    }
    h2{
      padding: 0 63px 10px 63px;
      font-family: roboto, sans-serif;
      font-size: 50px;
      margin-top: 50px;
      color: #242b34;
      font-weight: 700;
      @media screen and (max-width: 576px){
        padding: 40px 30px 0 30px;
        font-size: 30px;
        line-height: 34px;
      }
    }
    p{
      font-family: roboto, sans-serif;
      font-size: 19px;
      color: #242b34;
      padding: 5px 63px 100px 63px;
      max-width: 520px;
      @media screen and (max-width: 576px){
        padding: 0 40px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}