.manager{
  width: 100%;
  padding-left: 30px;
  @media screen and (max-width: 576px){
    overflow: hidden;
    padding-left: 0;
  }
  .bg-content{
    overflow: hidden;
    background-color: #ededed;
    min-height: 400px;
    padding-top: 53px;
    position: relative !important;
    .dashed-line{
      position: absolute !important;
      top: -135px;
      left: -130px;
      width: 260px;
      height: 260px;
      border-radius: 350px;
      border: 2px dashed #a7a8aa;
      opacity: 0.6;
      @media screen and (max-width: 576px){
        left: -150px;
        top:-155px;
      }
    }
    .row{
      width: 100%;
      @media screen and (max-width: 576px){
      margin: 0;
      }
      .col-sm-6:nth-child(2){
        padding: 0 63px !important;
        @media screen and (max-width: 576px){
          padding: 0 30px !important;
        }
        .text-content{
          font-size: 19px;
          font-family: roboto, sans-serif;
          color: #242b34;
          .manager-text{
            padding-top: 15px;
            padding-bottom: 10px;
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 7px;
            color: #747474;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width: 576px){
              font-size: 14px;
              padding-top: 0;
            }
          }
          h2{
            font-size: 40px;
            color: #242b34;
            font-weight: 700;
            letter-spacing: -1.3px;
            @media screen and (max-width: 576px){
              font-size: 24px;

            }
          }
          .text{
            margin-bottom: 27px;
            font-size: 19px;
            font-weight: 400 !important;
            font-family: "Calibri Light", sans-serif;
            opacity: 0.9;
            @media screen and (max-width: 576px){
              font-size: 16px;

            }
          }
        }
      }
      .col-sm-6:nth-child(3), .col-sm-6:nth-child(1){
        .blue-circle{
          position: relative;
          right: -290px;
          width: 600px;
          height: 600px;
          z-index: 10;
          top:-53px;
          border-radius: 436px;
          background-clip: padding-box;
          background-color: #005593;
          padding-left: 43px;
          img{
           margin-left: -50px;
            width: 475px;
            height: 475px;
            border-radius: 238px;
            background-color: #ededed;
            border: 0.5px solid #49cadf;
          }
        }
      }
      .col-sm-6:nth-child(1){
        display: none;
        .blue-circle{
          position: relative;
          right: -290px;
          width: 600px;
          height: 600px;
          z-index: 10;
          top:-53px;
          border-radius: 436px;
          background-clip: padding-box;
          background-color: #005593;
          padding-left: 43px;
          img{
            margin-left: -50px;
            width: 475px;
            height: 475px;
            border-radius: 238px;
            background-color: #ededed;
            border: 0.5px solid #49cadf;
          }
        }
        @media screen and (max-width: 576px){
          display: block !important;
          .blue-circle{
            left: 50%;
            top: -30px;
            transform: translateX(-50%);
            position: relative;
            width: 280px;
            height: 280px;
            z-index: 100000;
            background-clip: padding-box;
            padding: 0;
            background-color: #005593;
            border-radius: 50%;
            img{
              width:100%;
              height: 100%;
              border-radius: 50%;
              background-color: #ededed;
              border: 0.5px solid #49cadf;
              margin: 0;
              z-index: 100;
            }
          }
        }
        @media screen and (max-width: 300px){
          .blue-circle{
            width: 230px;
            height: 230px;
          }
        }
      }
      .col-sm-6:nth-child(3){
        @media screen and (max-width: 576px){
          display: none !important;
        }
      }
    }
  }
}