.operations{
  padding-top: 65px;
  padding-bottom: 120px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 576px){
     padding-bottom: 50px;
  }
  .bg-dashed-line{
    position: absolute;
    top: 300px;
    left: -50%;
    width: 1360px;
    height: 1100px;
    z-index: 1;
    border: 2px dashed #cd4c4e;
    border-radius: 50%;
    @media screen and (max-width: 576px){
     width: 300px;
      height: 300px;
      bottom: -150px;
      left: -150px;
      top: auto;
    }
  }
  .red-line{
    width: 100px;
    height: 3px;
    background: #e3173e;
    margin: 30px 30px;
    @media screen and (max-width: 576px){
      margin-left: 10px;
    }
  }
  h2{
    font-size: 40px;
    color: #242b34;
    font-weight: 700;
    letter-spacing: -1.3px;
    padding-left: 90px;
    margin: 10px 0;
    @media screen and (max-width: 576px){
      padding: 0 30px;
      font-size: 27px;
      line-height: 37px;
    }
  }
  p{
    margin-bottom: 27px;
    font-size: 19px;
    font-weight: 400 !important;
    font-family: "Calibri Light", sans-serif;
    opacity: 0.9;
    padding-left: 90px;
    @media screen and (max-width: 576px){
      padding-left:30px;
      padding-right: 10px;
      margin-bottom: 50px;
    }
  }
  .row{
    width: 100%;
    padding:0 115px !important;
    @media screen and (max-width: 576px){
      margin: 0 !important;
      padding: 0 20px!important;
    }
    .col-sm-4{
      padding-bottom: 30px !important;
      .card{
        padding: 0;
        border: none;
        margin: 0;
        .img-content{
          position: relative;
          width: 353px;
          height: 400px;
          @media screen and (max-width: 576px){
            z-index: 3;
            width: 100%;
            height:370px;
          }
          @media screen and (max-width: 370px){
            height: 350px;
          }
          @media screen and (max-width: 360px){
            height: 335px;
          }
          @media screen and (max-width: 335px){
            height: 315px;
          }
          .line{
            position: absolute;
            border-radius: 50%;
            width: 100%;
            height: auto;
            padding-top: 100%;
            border: 2px dashed #a7a8aa;
            opacity: .6;
            z-index: 2;
            bottom: 10px;
            right: 10px;
          }
          .grey-circle{
            position: absolute;
            bottom: 0;
            border-radius: 50%;
            width: 100%;
            height: auto;
            padding-top: 100%;
            z-index: 1;
            background-color: #ededed;
          }
          .operation-img{
            position: relative;
            z-index: 3;
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .operation-name{
          text-align: center;
          font-size: 30px;
          color: #242b34;
          font-family: roboto, sans-serif;
          padding-top: 20px;
          font-weight: 300;
          cursor: pointer;
          @media screen and (max-width: 576px){
            font-size: 27px;
            font-weight: 300 !important;
            font-family:"Times New Roman", sans-serif;
          }
          span{
            position: relative;
          }
          span:after{
            opacity: 0;
            content: '';
            position: absolute;
            height: 2px;
            width:100%;
            bottom: -4px;
            background-color: #242b34;
            left: 50%;
            transform: translateX(-50%);
          }
          span:hover:after{
            opacity: 1;
          }
        }
        .red-line{
          margin-left: 50%;
          transform: translateX(-50%);
        }
        .operation-title{
          font-size: 22px;
          line-height: 27px;
          font-weight: 300;
          text-align: center;
          @media screen and (max-width: 576px){
            font-size: 17px;
          }
        }
      }
    }
  }
}