



.min-all{
    background-color: black;

    .bel{
        padding: 0 15px;
        .col-6{
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
   
      .slide-text{
       .ServicesTitle{
         padding: 50px 30px;
         width: 100%;
          
         .min-all{
             width: 100%;
             height: auto;
             padding-top: 100px;
             overflow-x: hidden;
   
         .content{
             width: 100%;
             background-color: $color-gray;
             position: relative;
   
            
             
             
             .left{
                 width: 50%;
                 box-sizing: border-box;
                 .page-titile{
                     text-align: left;
                     margin: 0;
                     padding: 0 60px;
                     padding-top: 125px;
                     padding-bottom: 22px;
                     letter-spacing: -.04em;
                     font-size: 24px;
                     font-weight: 600;
                     color : $color-black;
                     font-family: "roboto", sans-serif;
                 }
     
                 .red-bar{
                     width: 100px;
                     height: 3px;
                     margin-bottom: 0px;
                     background-color:  $color-red;
     
                 }
                 h1{
                   text-align: left;
                   padding-left: 60px;
                   font-size: 70px;
                   margin: 0;
                   line-height: 75px;
                 }
                 h2{
                   text-align: left;
                   font-size: 19px;
                   padding-left: 60px;
                   margin: 0;
                   font-weight: 400;
   
                 }
                 .position{
                   padding-bottom: 80px;
   
                 }
                 .title-text{
                     text-align: left;
                     padding-left: 60px;
                     padding-right: calc(10px + 60 * ((100vw - 1290px)/210));
                     padding-top: 0;
                     padding-bottom: 40px;
                     font-size: calc(18px + 7 * ((100vw - 767px)/733));
                     line-height: calc(25px + 10 * ((100vw - 767px)/733));
                     font-family: "roboto" , sans-serif;
                     font-weight: 300 !important;
                     color: $color-black ;
                     margin: 0;
     
                 }
     
     
             }
             .right-image-wrapper{
                 position: absolute;
                 top: 0;
                 right: 0;
                 left: 0;
                 
                .top-left-big{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 140px;
                    height: 140px;
                   //  overflow: hidden; 
                     .top-left-grey-hoop{
                         width: 230px;
                         height: 230px;
                         -webkit-border-radius: 87.5px;
                         border-radius: 50%;
                         background-clip: padding-box;
                         top: -95px;
                         left: -95px;
                         -webkit-border-radius: 154.5px;
                         border-radius: 154.5px;
                         background-clip: padding-box;
                         position: absolute;
                         border: 2px dashed #a7a8aa;
                         filter: alpha(opacity=60);
                         filter: alpha(opacity=60);
                         opacity: .6;
                         z-index: 9;
                     }
                }
                 .blue-circle{
                     width: 877px;
                     height: 877px;
                     z-index: 3;
                     -webkit-border-radius: 278px;
                     border-radius: 50%;
                     background-clip: padding-box;
                     left: auto;
                     top: -80px;
                     left: 53%;
                     background-color: #00a1df;
                     position: absolute;
                 }
                 .blue-dark-circle{
                     z-index: 4;
                     width: 969px;
                     height: 969px;
                     -webkit-border-radius: 278px;
                     border-radius: 50%;
                     background-clip: padding-box;
                     left: auto;
                     top: -95px;
                     left: 53.5%;
                     background-color: $color-dark-blue;
                     position: absolute;
                 }
                 .grey-hoop{
                     position: absolute;
                     width: 875px;
                     height: 875px;
                     -webkit-border-radius: 278px;
                     border-radius: 50%;
                     background-clip: padding-box;
                     left: 51%;
                     right: -175px;
                     top: -80px;
                     z-index: 8;
                     border: 2px dashed #a7a8aa;
                     filter: alpha(opacity=60);
                     filter: alpha(opacity=60);
                     opacity: .6;
                 }
                 .red-hoop{
                     width: 914px;
                     height: 914px;
                     position: absolute;
                     -webkit-border-radius: 257.5px;
                     border-radius: 50%;
                     background-clip: padding-box;
                     top: -3px;
                     left: 51.8%;
                     right: -173px;
                     z-index: 3;
                     border: 2px dashed $color-red;
                     opacity: .6;   
                 }
                 .image{
                   width: 300px;
                   height:  auto;
                   z-index: 8; 
                   position: absolute;
                   top: -105px;
                   right: 130px;
                   img{
                     width: 395px;
                   height:  auto;
                   }
                 }
     
             }
     
     
             
         }
         }
         
     }
      }
}