


.ImageServices{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
   

    img{
        width: 100%;
        height: auto;
    }

    @media (max-width: 767px) {
        width: 300px;
    }
    @media (max-width : 480px) {
        width: 100%;
               
    }
}