
///////////////////////   COLORS STYLE  /////////////////////

$color-black: #242B34;
$color-blue:  #00a1df;
$color-dark-blue: #005492;
$color-red: #e3173e;
$color-gray: #EDEDED;

/********************************* Main STYLE ***************************/


 .main{
   width: 100%;
   position: relative;
   //padding-top: 40px;
   margin-bottom: 100px;
   

   .right-png{
     position: absolute;
     right: -15px;
     bottom: 800px;
     width: 250px;
     img{
      height: auto;
      width: 100%;
     }
     @media (max-withd: 767px) {
      width: 170px;
    }
   }
   .left-png1{
    position: absolute;
    left: -15px;
    top: 213px;
    img{
     height: auto;
     width: 250px;

     @media (max-withd: 767px) {
      width: 170px;
    }
    }
  }
  .left-png2{
    position: absolute;
    left: -15px;
    bottom: 373px;
    img{
     height: auto;
     width: 250px;

     @media (max-withd: 767px) {
      width: 170px;
    }
    }
  }

  
   .bel{
     padding: 0 15px;
     .row{

      padding: 0 15px;

      .col-6{
        padding-top: 50px;
        padding-bottom: 50px;
      }
     }
   }

   .slide-text{
    .slide-content1{
      width: 100%;
      position: relative;
      display : none;
      justify-content: center;
      .content1-in{
        width: 400px;
        height: 300px;
        position: absolute;
        bottom: -180px;
        overflow: hidden;
        overflow-y: hidden;
        margin: 30px;


        



        .blue-circle1{
          width: 251px;
          height: 261px;
          z-index: 3;
          -webkit-border-radius: 278px;
          border-radius: 50%;
          background-clip: padding-box;
          left: 5%;
          top: 66px;
          
          background-color: #00a1df;
          position: absolute;

      }
      .blue-dark-circle1{
          z-index: 4;
          width: 295px;
          height: 295px;
          -webkit-border-radius: 278px;
          border-radius: 50%;
          background-clip: padding-box;
          left: 7%;
          top: 64px;
          background-color: $color-dark-blue;
          position: absolute;

      }
      .grey-hoop1{
          position: absolute;
          width: 271px;
          height: 271px;
          -webkit-border-radius: 278px;
          border-radius: 50%;
          background-clip: padding-box;
          top: 61px;
          z-index: 8;
          border: 2px dashed #a7a8aa;
          filter: alpha(opacity=60);
          filter: alpha(opacity=60);
          opacity: .6;
          left: 2%;

      }
      .red-hoop1{
          width: 280px;
          height: 280px;
          position: absolute;
          -webkit-border-radius: 257.5px;
          border-radius: 50%;
          background-clip: padding-box;
          top: 155px;
          left: 5%;
          z-index: 3;
          border: 2px dashed $color-red;
          opacity: .6; 
          
      }
      .image1{
        width: 147px;
        height:  auto;
        z-index: 8; 
        position: absolute;
        left: 26%;
        top: 64px;
        
        img{
          width: 100%;
          height:  auto;
        }
        
      }
      }

      @media (max-width: 875px) {
        display: flex;
        padding-top: 50px;
      }

    }

    .ServicesTitle{
      padding: 50px 30px;
      width: 100%;
       .min-big{
        .next{
          z-index: 10;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: $color-dark-blue;
          border: none;
          color: #fff;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          position: absolute;
          bottom: 21px;
          left: 219px;

          @media (max-width: 875px) {
            left: 53%;
          }

          p{
            font-size: 38px;
            font-weight: 600;
            margin: 0;
            position: absolute;
            left: 26%;
            bottom: -19px;
          }
          h1{
            position: relative;
            margin: 0;
          }

          &:hover{
            transition: all 0.5s linear;
            background-color: $color-red;
          }
        }
        .prev{
          
          z-index: 10;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: $color-dark-blue;
          border: none;
          color: #fff;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          position: absolute;
          bottom: 21px;
           left: 111px;
          @media (max-width: 875px) {
            left: 38%;
          }

          p{
            font-size: 38px;
            font-weight: 600;
            margin: 0;
            position: absolute;
            left: 26%;
            bottom: -19px;
          }
          h1{
            position: relative;
            margin: 0;
          }

          &:hover{
            
            transition: all 0.5s linear;
            background-color: $color-red;
          }


        }
       }
      .min-alll{
          width: 100%;
          height: auto;
          padding-top: 100px;
          overflow-x: hidden;
          overflow-y: hidden;
          

        .content{
            width: 100%;
            background-color: $color-gray;
            position: relative;
            

          
            
            
            .left{
                width: 50%;
                box-sizing: border-box;
                .page-titile{
                    text-align: left;
                    margin: 0;
                    padding: 0 60px;
                    padding-top: 125px;
                    padding-bottom: 22px;
                    letter-spacing: -.04em;
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 600;
                    color : $color-black;
                    font-family: "roboto", sans-serif;

                    @media (max-width: 1200px) {
                      padding-top: 60px;
                    }

                    @media (min-width:960px) {
                      font-size: calc(20px + 5 * ((100vw - 960px)/540));
                      line-height: calc(30px + 5 * ((100vw - 960px)/540));
                    }

                    @media (min-width:767px) {
                      padding-left: calc(30px + 40 * ((100vw - 767px)/733));
                      padding-right: calc(30px + 40 * ((100vw - 767px)/733));
                    }
                }
    
                .red-bar{
                    width: 100px;
                    height: 3px;
                    margin-bottom: 0px;
                    background-color:  $color-red;
    
                }
                h1{
                  text-align: left;
                  padding-left: 60px;
                  font-size: 70px;
                  margin: 0;
                  line-height: 75px;
                }
                h2{
                  text-align: left;
                  font-size: 19px;
                  padding-left: 60px;
                  margin: 0;
                  font-weight: 400;

                }
                .position{
                  padding-bottom: 80px;

                }
                .title-text{
                    text-align: left;
                    padding-left: 60px;
                    padding-right: calc(10px + 60 * ((100vw - 1290px)/210));
                    padding-top: 0;
                    padding-bottom: 40px;
                    font-size: calc(18px + 7 * ((100vw - 767px)/733));
                    line-height: calc(25px + 10 * ((100vw - 767px)/733));
                    font-family: "roboto" , sans-serif;
                    font-weight: 300 !important;
                    color: $color-black ;
                    margin: 0;
    
                }

                @media (max-width: 875px) {
                  width: 100%;
                }
    
    
            }

          
            .right-image-wrapper{
                position: absolute;
                top: 0px;
                right: 0;
                left: 0;
                
              
              .top-left-big{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 140px;
                  height: 140px;
                   overflow: hidden; 
                    .top-left-grey-hoop{
                        width: 230px;
                        height: 230px;
                        -webkit-border-radius: 87.5px;
                        border-radius: 50%;
                        background-clip: padding-box;
                        top: -95px;
                        left: -95px;
                        -webkit-border-radius: 154.5px;
                        border-radius: 154.5px;
                        background-clip: padding-box;
                        position: absolute;
                        border: 2px dashed #a7a8aa;
                        filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                        opacity: .6;
                        z-index: 9;
                    }
              }
                .blue-circle{
                    width: 877px;
                    height: 877px;
                    z-index: 3;
                    -webkit-border-radius: 278px;
                    border-radius: 50%;
                    background-clip: padding-box;
                    left: auto;
                    top: -80px;
                    left: 53%;
                    background-color: #00a1df;
                    position: absolute;

                    @media (max-width:1200px) {
                      width: 500px;
                      height: 500px;
                      top: 17px;
                      left: auto;
                      right: -10%;
                    }
                    @media (max-width:875px) {
                      display: none;
                    }

                }
                .blue-dark-circle{
                    z-index: 4;
                    width: 969px;
                    height: 969px;
                    -webkit-border-radius: 278px;
                    border-radius: 50%;
                    background-clip: padding-box;
                    left: auto;
                    top: -95px;
                    left: 53.5%;
                    background-color: $color-dark-blue;
                    position: absolute;

                    @media (max-width:1200px) {
                      width: 553px;
                      height: 553px;
                      top: 14px;
                      left: auto;
                      right: -19%;
                    }
                    @media (max-width:875px) {
                      display: none;
                    }
                }
                .grey-hoop{
                    position: absolute;
                    width: 875px;
                    height: 875px;
                    -webkit-border-radius: 278px;
                    border-radius: 50%;
                    background-clip: padding-box;
                    left: 51%;
                    right: -175px;
                    top: -80px;
                    z-index: 8;
                    border: 2px dashed #a7a8aa;
                    filter: alpha(opacity=60);
                    filter: alpha(opacity=60);
                    opacity: .6;

                    @media (max-width: 1200px) {
                      width: 500px;
                      height: 500px;
                      top: 17px;
                      left: auto;
                      right: -10%;
                    }
                    @media (max-width:875px) {
                      display: none;
                    }
                }
                .red-hoop{
                    width: 914px;
                    height: 914px;
                    position: absolute;
                    -webkit-border-radius: 257.5px;
                    border-radius: 50%;
                    background-clip: padding-box;
                    top: -3px;
                    left: 51.8%;
                    right: -173px;
                    z-index: 3;
                    border: 2px dashed $color-red;
                    opacity: .6; 
                    @media (max-width:875px) {
                      width: 300px;
                      height: 300px;
                      top: 217px;
                      left: 77%;
                    }
                }
                .image{
                  width: 395px;
                  height:  auto;
                  z-index: 8; 
                  position: absolute;
                  top: -105px;
                  right: 130px;
                  img{
                    width: 100%;
                    height:  auto;
                  }

                  @media (max-width: 1200px) {
                    
                    right: -69px;
                    top: -2px;
                  }
                  @media (max-width:875px) {
                    display: none;
                  }
                }

                
    
            }
          
    
    
            
        }

        

      

        
      }
      
  }
   }



 }



