
///////////////////////   COLORS STYLE  /////////////////////
$color-black: #242B34;
$color-blue:  #00a1df;
$color-dark-blue: #005492;
$color-red: #e3173e;
$color-gray: #EDEDED;


//***************************   MAIN STYLE *********************************//


.ServicesInfo{
  width: 100%;
     
  .services-icon{
    width: 100%;

    .icon{
      display: block;
      img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
    .red-bar{
      width: 100px;
      height: 3px;
      background: $color-red;
      margin: 30px 0;
    }
    
    
  }
  .services-content{
    width: 100%;
    padding:  0  42px;
    box-sizing: border-box; 
    
    h2{
      font-size: 40px;
      font-weight: 700;
      color: $color-black;
      font-family: "roboto" , sans-serif;
      margin: 0;
      padding-bottom: 10px;

      @media (max-width: 1200px ) {
        font-size: calc(25px + 15 * ((100vw - 480px)/620));
        line-height: calc(35px + 0 * ((100vw - 480px)/620));
        font-weight: 600;
      }
    }
    p{
      font-size: 19px;
      line-height: 27px;
      font-weight: lighter;
      margin: 0;

      @media (min-width: 767px) {
        font-size:  16px;
        line-height: calc(24px + 3 * ((100vw - 767px)/333));
        font-weight: 400;
      }

      @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    
  }
   
  .col-md-8{
      .circle-animate-menu{
        padding: 0 28px;
        display: flex;
      }
    
      .tab-list{
        .list-unstyled{
          a{
              padding: 0;
              color: $color-dark-blue;
              font-size: 20px;
              line-height: 45px;
              font-family: "roboto" , sans-serif;
              transition: .3s;
              font-weight: 600;
              position: relative;
              z-index: 3; 

              p{
                margin: 0;
                font-size: 20px;

                @media (max-width: 767px) {
                  font-size: 16px;
                  line-height: 20px;
                }
              }

              img{
                width: calc(24px + 4 * ((100vw - 767px)/333));
                height: auto;
                margin-right: 30px;
                transition: all .3s linear;
               
                @media (max-width: 767px) {
                  margin-right: 10px;
                }
                
              }

              &:hover{
                color: $color-blue;
                
                img{
                  width: 28px;
                  height: 45px;
                  margin-right: 30px;
                  transform: translateX(6px);
               

                 

                 
                } 

                
              }

              // @media (max-width: 1100px) {
              //   font-size: calc(20px + 4 * ((100vw - 767px)/333));
              //   line-height: calc(36px + 9 * ((100vw - 767px)/333));
              // }
              @media (max-width: 767px) {
                font-size: 16px;
                line-height: 20px;
              }
             
          }

        }

      }
  }
   

}


