
///////////////////////   COLORS STYLE  /////////////////////
$color-black: #242B34;
$color-blue:  #00a1df;
$color-dark-blue: #005492;
$color-red: #e3173e;
$color-gray: #EDEDED;


//***************************   MAIN STYLE *********************************//

.ServicesTitle{
    padding: 98px 30px 50px 30px;
    width: 100%;
    .min-all{
        width: 100%;
        height: 410px;
        overflow: hidden;
    .content{
        width: 100%;
        background-color: $color-gray;
        position: relative;
        
        
        .left{
            width: 50%;
            box-sizing: border-box;
            .page-titile{
                display: block;
                margin: 0;
                padding: 0 31px;
                padding-top: 70px;
                padding-bottom: 30px;
                letter-spacing: -.04em;
                font-size: calc(40px + 30 * ((100vw - 960px)/540));
                line-height: calc(45px + 35 * ((100vw - 960px)/540));
                font-weight: 600;
                color : $color-black;
                font-family: "roboto", sans-serif;

                @media (min-width: 1500px) {
                    font-size: calc(40px + 30 * ((100vw - 960px)/540));
                    line-height: calc(45px + 35 * ((100vw - 960px)/540));
                }

                @media (max-width: 960px) {
                    font-size: 40px;
                    line-height: 45px;
                    font-weight: 500;
                }

            }

            .red-bar{
                width: 100px;
                height: 3px;
                background-color:  $color-red;

            }

            .title-text{
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 25px;
                padding-bottom: 60px;
                font-size: calc(18px + 7 * ((100vw - 767px)/733));
                line-height: calc(25px + 10 * ((100vw - 767px)/733));
                //font-family: "roboto" , sans-serif;
                font-weight: 300 !important;
                color: $color-black ;
                margin: 0;
            }

            @media (max-width:767px) {
                width: 100%;
            }


        }
        .right-image-wrapper{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            
           .top-left-big{
               position: absolute;
               top: 0;
               left: 0;
               width: 95px;
               height: 95px;
               overflow: hidden; 
                .top-left-grey-hoop{
                    width: 175px;
                    height: 175px;
                    -webkit-border-radius: 87.5px;
                    border-radius: 50%;
                    background-clip: padding-box;
                    top: -95px;
                    left: -95px;
                    -webkit-border-radius: 154.5px;
                    border-radius: 154.5px;
                    background-clip: padding-box;
                    position: absolute;
                    border: 2px dashed #a7a8aa;
                    filter: alpha(opacity=60);
                    filter: alpha(opacity=60);
                    opacity: .6;

                }
           }
            .blue-circle{
                width: 556px;
                height: 556px;
                -webkit-border-radius: 278px;
                border-radius: 278px;
                background-clip: padding-box;
                left: auto;
                top: -160px;
                right: -195px;
                background-color: #00a1df;
                position: absolute;

                
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .grey-hoop{
                position: absolute;
                width: 556px;
                height: 556px;
                -webkit-border-radius: 278px;
                border-radius: 278px;
                background-clip: padding-box;
                top: -148px;
                left: auto;
                right: -175px;
                z-index: 3;
                border: 2px dashed #a7a8aa;
                filter: alpha(opacity=60);
                filter: alpha(opacity=60);
                opacity: .6;

                
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .red-hoop{
                width: 515px;
                height: 515px;
                position: absolute;
                -webkit-border-radius: 257.5px;
                border-radius: 257.5px;
                background-clip: padding-box;
                top: -140px;
                left: auto;
                right: -173px;
                z-index: 5;
                border: 2px dashed $color-red;
                opacity: .6;
                
                
                @media (max-width: 767px) {
                    width: 300px;
                    height: 300px;
                    top: 170px;
                    right: -163px;
                    
                }
            }
            .image-titile{
                
                margin-top: 40px;
                width: 350px;
                height: 359px;
                position: absolute;
                top: -3px;
                right: 0;
                overflow: hidden;
            
               
                .image-titile2{
                    
                    width: 557px;
                    height: 556px;
                    position: absolute;
                    top: -199px;
                    right: -211px;
                    border-radius: 50%;
                    border-bottom-left-radius: 50%;
                    transform: rotate(0deg);
                    overflow: hidden;
    
    



                        .in-img{
                            width: 560px;
                            height: 460px;  
                            position: absolute;
                            right: 206px;
                            top: 200px;
                            z-index: 4;
                            overflow: hidden;
                    }
                }

                
                @media (max-width: 767px) {
                    display: none;
                }
            }

        }

        @media (max-width: 767px) {
            overflow: hidden;
        }


        
    }
    }
    
}