
///////////////////////   COLORS STYLE  /////////////////////

$color-black: #242B34;
$color-blue:  #00a1df;
$color-dark-blue: #005492;
$color-red: #e3173e;
$color-gray: #EDEDED;

/********************************* Main STYLE ***************************/

.SevicesImage{
    width: 100%;
    height: auto;
}




