


.viewsOld{
        width: 100%;
        height: auto;
        padding: 0 15px;
        box-sizing: border-box;
        display: block;

        .views-body{
            width: 50%;
            float: left;
            padding: 25px 15px;
            box-sizing: border-box;

            @media (max-width:1200px) {
                width: 100%;
                float: none;
                padding: 25px 0;
            }
            @media (max-width: 576px) {
                padding: 15px 5px;
            }
        }

        .views-image{
            width: 50%;
            float: right;
            padding: 25px 15px;
            box-sizing: border-box;
            
            @media (max-width:1200px) {
                width: 583px;
                float: none;
                padding: 25px 0;
            }

            @media (max-width:767px) {
                width: 300px;
            }
            @media (max-width: 576px) {
                padding: 5px 15px;
            }
            @media (max-width: 480px) {
                width: 100%;
            }

        }

        @media (max-width:576px) {
            padding: 0px 15px;
        }
}