.contact{
  position: relative;
  z-index: 44;
  overflow: hidden;
  @media screen and (max-width: 576px){

  }
  .right-bg{
    position: absolute;
    right: 0;
    bottom: 20px;
  }
  .blue-design{
    position: absolute;
    left: 69.2%;
    top: -243px;
    z-index: -1;
    //@media screen and (max-width: 576px){
    //  position: absolute;
    //  left: 69.2%;
    //  top: -243 px;
    //  z-index: -1;
    //}
    .blue-circle{
      width: 1166px;
      height: 1166px;
      border-radius: 583px;
      background-clip: padding-box;
      background-color: #00a1df;
      @media screen and (max-width: 576px){
        height: 426px;
        width: 426px;
        top: 200px;
        position: absolute;
        left: -20px;
      }
    }
    .white-border{
      position: absolute;
      width: 1083px;
      height: 1083px;
      border-radius: 541.5px;
      background-clip: padding-box;
      border: 2px dashed #a7a8aa;
      opacity: .6;
      z-index: 1;
      top: 50px;
      left: -50px;
      @media screen and (max-width: 576px){
        height: 433px;
        width: 433px;
        top: 200px;
        left: -40px;
      }
    }
    .red-border{
      width: 1098px;
      height: 1098px;
      -webkit-border-radius: 549px;
      border-radius: 549px;
      background-clip: padding-box;
      border: 2px dashed #e3173e;
      opacity: .6;
      z-index: 1;
      position: absolute;
      top: 29px;
      left: 29px;
      @media screen and (max-width: 576px){
        width: 402px;
        height: 402px;
        top: 200px;
        left: -10px;
      }
    }
  }
  .contact-content{
    h1{
      padding: 70px 10px 20px 10px;
      letter-spacing: -.04em;
      font-weight: 500;
      font-size: 58px;
      margin-top: 100px;
      margin-left: 40px;
      @media screen and (max-width: 576px){
        font-size: 40px;
        padding: 35px 25px 20px;
        margin: 0;
      }
    }
    .red-line{
      width: 100px;
      height: 3px;
      background: #e3173e;
      margin-left: 30px;
    }
    .main-content{
      padding-top: 70px;
      @media screen and (max-width: 576px){
        padding-top: 50px;
      }
      .row{
        padding: 0 30px;
        width: 100%;
        @media screen and (max-width: 576px){
          padding: 0 ;
          margin: 0;
        }
        .col-md-6:first-child{
          @media screen and (max-width: 576px){
            padding: 0 10px  !important;
          }
          h3{
            color: #000;
            font-weight: 700;
            border: 0;
            padding: 0 0 20px;
            background-color: transparent;
            margin: 0;
            font-size: 40px;
            font-family: roboto, sans-serif;
            letter-spacing: .019em;
            @media screen and (max-width: 576px){
              font-size: 30px;
              line-height: 30px;
              margin: 0 auto;
              padding-left: 27px;
              margin-bottom: 20px;
            }
          }
          .input-group{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 100%;
            @media screen and (max-width: 576px){
             display: block;
              margin-bottom: 0;
            }
            .input-content {
              width: 48%;
              position: relative;
              @media screen and (max-width: 576px){
                 width: 100%;
              }
              input {
                width: 100%;
                padding: 5px 30px;
                height: 70px;
                background-color: #f4f4f4;
                color: #242b34;
                font-weight: 700;
                border: 1px solid #d5d5d5;
                box-sizing: border-box;
                @media screen and (max-width: 576px){
                 margin-bottom: 10px;
                }
              }
            }
          }
          .company-name-input, .text-area{
            margin-bottom: 20px;
            @media screen and (max-width: 576px){
              margin-bottom: 0;
            }
            .input-content{
              width: 100%;
              position: relative;
              input, textarea{
                width: 100%;
                padding: 5px 30px;
                height: 70px;
                background-color: #f4f4f4;
                color: #242b34;
                font-weight: 700;
                border: 1px solid #d5d5d5;
                box-sizing: border-box;
              }
              input{
                @media screen and (max-width: 576px){
                  margin-bottom: 10px;
                }
              }
            }
          }
          .text-area{
            .input-content{
              textarea{
                padding-top: 10px;
                height: 155px;
              }
            }
          }
          .add{
            display: flex;
            justify-content: end;
            @media screen and (max-width: 576px){
              justify-content: start;
              margin-bottom: 50px;
            }
            .animation-button{

              display: inline-block;
              .button-text{
                font-size: 20px;
                color: #fff;
                text-transform: uppercase;
                height: 50px;
                font-weight: 700;
                margin-right: revert;
                //padding: 40px 10px 70px 10px;
                //line-height: 30px;
                position: relative;
                @media screen and (max-width: 576px){
                  padding: 40px 25px 25px 25px;
                  width: auto;
                }
                @media screen and (max-width: 305px){
                  display: block !important;
                }
                span{
                  transition: all .3s;
                  @media screen and (max-width: 576px){
                    font-size: 15px;
                  }
                }
                button{
                  box-sizing: border-box;
                  margin-left: 20px;
                  width: 46px;
                  height: 46px;
                  border: none;
                  border-radius: 50%;
                  background-color: #00a1df;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  @media screen and (max-width: 576px){
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    background-color:  #e3173e;
                    img{
                      width: 30px !important;
                      height: 11px !important;
                      transform: translateX(10px) !important;
                    }
                  }
                  img{
                    transition: all .37s;
                    transform: translateX(-14px);
                    width: 46px;
                    height: 15.55px;
                  }
                }
                &:hover{

                  cursor: pointer;
                  span{
                    transform: translateY(-3px);
                  }
                  button{
                    width: 34px;
                    height: 34px;
                    background-color: #e3173e;
                    box-shadow: 0 0 0 10px rgba(252, 252, 252, 0.5);
                    @media screen and (max-width: 576px){
                      margin-left: 10px;
                      width: 25px;
                      height: 25px;
                      box-shadow: none;
                      background-color:  #e3173e;
                      img{
                        width: 30px !important;
                        height: 11px !important;
                        transform: translateX(10px) !important;
                      }
                    }
                    img{
                      transform: translateX(15px);
                    }
                  }
                }
              }
            }
          }
        }
        .col-md-6:nth-child(2){
          .bg-darknow{
            background-color: #242b34;
            padding-bottom: 90px;
            color: #fff;
            font-size: 19px;
            font-family: roboto, sans-serif;
            @media screen and (max-width: 576px){
              padding-bottom: 0;
              margin-bottom: 20px;
            }
            .title{
              padding-top: 90px;
              display: flex;
              @media screen and (max-width: 576px){
                display: block;
              }
              .title-left, .title-right{
                span{
                  padding-left: 3.6vw;
                  padding-right: 3.6vw;
                  letter-spacing: .4em;
                  font-size: 15px;
                  line-height: 15px;
                  @media screen and (max-width: 576px){
                    padding-left: 45px;
                    font-weight: 600;
                  }
                }
                .red-line{
                  width: 100px;
                  height: 3px;
                  background: #e3173e;
                }
                @media screen and (max-width: 576px){
                  .tel{
                    display: block !important;
                    color: #fff;
                    font-size: 20px;
                    padding-left: 45px;
                    margin-bottom: 10px;
                  }
                }
              }
            }
            .contact-main{
              margin-top: 40px;
              display: flex;
              @media screen and (max-width: 576px){
                display: block;
              }
              .contact-main-left{
                @media screen and (max-width: 576px){
                  display: none;
                }
                font-size: 25px;
                line-height: 30px;
                color: #fff;
                padding-left: 3.6vw;
                padding-right: 3.6vw;
              }
              .contact-main-right{
                padding-left: 60px;
                padding-right: 15px;
                @media screen and (max-width: 576px){
                  padding-left: 50px;
                  padding-bottom: 25px;
                  padding-top: 25px;
                  border-bottom: 1px solid  #454b52;
                }
                span{
                  font-size: 25px;
                  line-height: 30px;
                  color: #fff;
                }
                p{
                  font-size: 20px;
                  font-weight: 200;
                  line-height: 35px;
                  margin-bottom: 5px;
                  @media screen and (max-width: 576px){
                    font-size: 15px;
                    line-height: 29px;
                  }
                }
                a{
                  font-size: 16px;
                  line-height: 16px;
                  text-transform: uppercase;
                  color: #00a1df;
                  transition: all .3s;
                  text-decoration: none;
                  font-weight: 700;
                  &:hover{
                    color: #005593;
                  }
                }
              }
            }
            .footer-text{
              letter-spacing: .4em;
              padding-top: 50px;
              padding-left: 3.6vw;
              font-size: 15px;
              line-height: 15px;
              padding-right: 3.6vw;
              @media screen and (max-width: 576px){
                display: none;
              }
            }
            .red-line{
              margin: 30px 0;
            }
            .aa{
              @media screen and (max-width: 576px){
                display: none;
              }
            }
            .footer-1{
              color: #fff;
              display: flex;
              @media screen and (max-width: 576px){
                display: block;
              }
              .footer-1-left , .footer-1-right{
                padding-left: 40px;
                @media screen and (max-width: 576px){
                  padding-left: 50px;
                  padding-bottom: 25px;
                  padding-top: 25px;
                  border-bottom: 1px solid  #454b52;
                }
                .titlee {
                  font-size: 30px;
                  padding-top: 0;
                  padding-bottom: 10px;
                  font-family: roboto, sans-serif;
                  line-height: 30px;
                  font-weight: 700;
                }
                p{
                  font-size: 18px;
                  font-family: roboto, sans-serif;
                  font-weight: 300;
                  line-height: 35px;
                  @media screen and (max-width: 576px){
                    font-size: 15px;
                    line-height: 29px;
                  }
                }
                a{
                  font-size: 16px;
                  line-height: 16px;
                  text-transform: uppercase;
                  color: #00a1df;
                  font-weight: 700;
                  transition: all .3s;
                  text-decoration: none;
                  &:hover{
                    color: #005593;
                  }
                }
              }
            }
          }
        }
        .col-md-6{
          @media screen and (max-width: 576px){
            padding: 0 !important;
          }
        }
      }
    }
  }
}