.white-content-background{
  padding-bottom: 180px;
  overflow: hidden;
  @media screen and (max-width: 576px){
    padding-bottom: 130px;
  }
  .blue-content{
    background-image: linear-gradient(45deg,#014180 0%,#009cda 100%) ;
    @media screen and (max-width: 576px){
      background: transparent;
    }
    .navbar-content{

    }
    .main-content{
      @media screen and (max-width: 576px){
        padding: 0 10px;
      }
      padding-top: 100px;
      padding-bottom: 80px;
      .row{
        @media screen and (max-width: 576px){
          background-image: linear-gradient(45deg,#014180 0%,#009cda 100%) ;
          margin: 0;
          padding-bottom: 100px;
          padding-left: 0;
          padding-right: 0;
        }
        width: 100% !important;
        padding: 0 30px;
        @media screen and (max-width: 576px){
         .col-md-6{
           padding: 0;
         }
        }
        .col-md-6:first-child{
          color: #fff;
          h1{
            padding-top: 80px;
            padding-bottom: 35px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 56px;
            @media screen and (max-width: 576px){
              font-size: 37px;
              padding: 40px 25px;
              margin-bottom: 0;

            }
          }
          .red-line{
            height: 3px;
            background: #e3173e;
            width: 100px;
            margin-bottom: 25px;
          }
          p{
            padding: 40px 10px 0 10px;
            font-size: 23px;
            margin-bottom: 35px;
            @media screen and (max-width: 576px){
             font-size: 19px;
              padding: 15px 20px 0 20px;
            }
          }
          .animation-button{

            display: inline-block;
            .button-text{
              font-size: 20px;
              color: #fff;
              text-transform: uppercase;
              height: 50px;
              font-weight: 700;
              margin-right: revert;
              //padding: 40px 10px 70px 10px;
              //line-height: 30px;
              position: relative;
              @media screen and (max-width: 576px){
                padding: 40px 25px 25px 25px;
                width: auto;
              }
              @media screen and (max-width: 305px){
                display: block !important;
              }
              span{
                transition: all .3s;
                @media screen and (max-width: 576px){
                  font-size: 15px;
                }
              }
              button{
                box-sizing: border-box;
                margin-left: 20px;
                width: 46px;
                height: 46px;
                border: none;
                border-radius: 50%;
                background-color: #00a1df;
                overflow: hidden;
                display: flex;
                align-items: center;
                @media screen and (max-width: 576px){
                  margin-left: 10px;
                  width: 25px;
                  height: 25px;
                  background-color:  #e3173e;
                  img{
                    width: 30px !important;
                    height: 11px !important;
                    transform: translateX(10px) !important;
                  }
                }
                img{
                  transition: all .37s;
                  transform: translateX(-14px);
                  width: 46px;
                  height: 15.55px;
                }
              }
              &:hover{

                cursor: pointer;
                span{
                  transform: translateY(-3px);
                }
                button{
                  width: 34px;
                  height: 34px;
                  background-color: #e3173e;
                  box-shadow: 0 0 0 10px rgba(252, 252, 252, 0.5);
                  @media screen and (max-width: 576px){
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    box-shadow: none;
                    background-color:  #e3173e;
                    img{
                      width: 30px !important;
                      height: 11px !important;
                      transform: translateX(10px) !important;
                    }
                  }
                  img{
                    transform: translateX(15px);
                  }
                }
              }
            }
          }
        }
        .col-md-6:nth-child(2){
          .bg-images{
            top: 0;
            left: 0;
            position: relative;
            .dark-blue-circle{
              width: 778px;
              height: 778px;
              border-radius: 389px;
              background-clip: padding-box;
              background: #005593;
              position: absolute;
              top: -150px;
              left: 27%;
              z-index: 2;
              transition-property:  all;
              transition-timing-function: linear;
              transition: 1.1s;
              transition-delay: .2s;
              @media screen and (max-width: 576px){
                display: none;
              }
            }
            .blue-circle{
              position: absolute;
              width: 602px;
              height: 602px;
              border-radius: 301px;
              background-clip: padding-box;
              top: -20px;
              background-color: #00a1df;
              left: 33%;
              z-index: 3;
              transition-property:  all;
              transition-timing-function: linear;
              transition-duration:.8s ;
              @media screen and (max-width: 576px){
                display: none;
              }
            }
            .white-border{
              position: absolute;
              width: 664px;
              height: 664px;
              border-radius: 332px;
              background-clip: padding-box;
              top: -19px;
              left: 34%;
              border: 1px dashed #fff;
              z-index: 4;
              @media screen and (max-width: 576px){
                border: 2px dashed  #e3173e;
                top: -160px;
                width: 300px;
                height: 300px;
                left: auto;
                right: -210px;
                opacity: 0.6;
              }
            }
            .images{
              position: absolute;
              overflow: hidden;
              top: -20px;
              left: 38%;
              width: 605px;
              height: 605px;
              -webkit-border-radius: 302.5px;
              border-radius: 302.5px;
              background-clip: padding-box;
              z-index: 6;
              transition-property: all;
              transition-duration:1s ;
              @media screen and (max-width: 576px){
                display: none;
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
            //&:hover{
            //  .dark-blue-circle{
            //    left: 35%;
            //  }
            //  .blue-circle{
            //    transition-duration:.8s ;
            //    left: 39%;
            //  }
            //  .images{
            //    transition-duration:1s ;
            //    left: 46%;
            //  }
            //}
          }
        }
      }
    }
  }
}