.developers{
  margin-bottom: 85px;
  margin-top: -80px;
  @media screen and (max-width: 576px){
    padding: 0 10px;
  }
  .row{
    width: 100%;
    @media screen and (max-width: 576px){
      display: block;
      margin: 0;
    }
    .col-md-4{
      padding-left: 0;
      padding-right: 0;
      position: relative;
      max-width: 28% !important;
      margin: 0 auto;
      border-bottom: 6px solid  #005593;
      padding-top: 100px;
      transition: all .4s;
      @media screen and (max-width: 576px){
        max-width: 100% !important;
        border-bottom: 3px solid  #005593;
        margin-bottom: 15px;
      }
      .white{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
        transition: all .4s;
      }
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        transition: all .4s;
        @media screen and (max-width: 576px){
          display: none;
        }
      }
      .content {
        border-bottom: 1px solid #797576;
        @media screen and (max-width: 576px){
        border: none;
        }
        .count {
          font-size: 100px;
          font-weight: 700;
          text-align: center;
          transition: all .4s;
          @media screen and (max-width: 576px){
            font-size: 70px;
          }
        }
        .text {
          transition: all .4s;
          font-size: 25px;
          color: #242b34;
          font-weight: 600;
          text-align: center;
          padding-bottom: 60px;
          @media screen and (max-width: 576px){
            font-size: 21px;
          }
        }
      }
      &:hover{
        cursor: pointer;
        border-bottom: 6px solid  #e3173e;
        @media screen and (max-width: 576px){
          border-bottom: 3px solid  #005593;
        }
        .white{
          height: 0;
          @media screen and (max-width: 576px){
            height: auto;
          }
        }
        .content{
          border-bottom: 1px solid #fff;
          .count, .text{
            color: #fff;
            @media screen and (max-width: 576px){
              color: #242b34;
            }
          }
        }
      }
    }
  }
}