.footer{
  background-color: #242b34;
  @media screen and (max-width: 576px){

  }
  .footer-top{
    padding: 50px 70px 37px 70px;
    color: #fff;
    border-bottom: 0.1px solid #8b8b8b;
    @media screen and (max-width: 576px){
      padding: 34px 10px;
    }
    .row{
      .col-md-4{
        h2{
          line-height: 39px;
          font-size: 25px;
          padding: 0 0 8px;
          margin: 0;
          font-weight: 700;
          @media screen and (max-width: 576px){
            font-size: 20px;
          }
        }
        p{
          font-size: 18.7px;
          padding: 0;
          font-family: roboto, sans-serif;
          line-height: 30px;
          margin-bottom: 40px;
          @media screen and (max-width: 576px){
            font-size: 15px;
            font-weight: 300;
            line-height: 25px;
          }
        }
        .animation-button{
          display: inline-block;
          .button-text{
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            height: 50px;
            font-weight: 700;
            margin-right: revert;
            @media screen and (max-width: 576px){
              padding: 40px 25px 25px 25px;
              width: auto;
            }
            @media screen and (max-width: 305px){
              display: block !important;
            }
            span{

              transition: all .3s;
              @media screen and (max-width: 576px){
                font-size: 15px;
              }
            }
            button{
              box-sizing: border-box;
              margin-left: 20px;
              width: 46px;
              height: 46px;
              border: none;
              border-radius: 50%;
              background-color: #00a1df;
              overflow: hidden;
              display: flex;
              align-items: center;
              @media screen and (max-width: 576px){
                margin-left: 10px;
                width: 25px;
                height: 25px;
                background-color:  #e3173e;
                img{
                  width: 30px !important;
                  height: 11px !important;
                  transform: translateX(10px) !important;
                }
              }
              img{
                transition: all .37s;
                transform: translateX(-14px);
                width: 46px;
                height: 15.55px;
              }
            }
            &:hover{

              cursor: pointer;
              span{
                transform: translateY(-3px);
              }
              button{
                width: 34px;
                height: 34px;
                background-color: #e3173e;
                box-shadow: 0 0 0 10px rgba(252, 252, 252, 0.5);
                @media screen and (max-width: 576px){
                  margin-left: 10px;
                  width: 25px;
                  height: 25px;
                  box-shadow: none;
                  background-color:  #e3173e;
                  img{
                    width: 30px !important;
                    height: 11px !important;
                    transform: translateX(10px) !important;
                  }
                }
                img{
                  transform: translateX(15px);
                }
              }
            }
          }
        }
      }

      .col-md-4:nth-child(2){
        .icon-group{
          display: flex !important;
          @media screen and (max-width: 576px){
           margin-bottom: 40px;
          }
          .icon{
            min-width: 29px;
            min-height: 24px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-top: 20px;
            margin-right: 50px;
            @media screen and (max-width: 576px){
             margin: 20px 20px 0 0 ;
            }
          }
          .linkedink {
            background-image: url("../../images/linkedin-square (1).svg");
            transition: all .2s;
            &:hover{
              cursor: pointer;
              background-image: url("../../images/linkedin-square-hover.svg");
            }
          }
          .facebook{
            background-image: url("../../images/facebook-square.svg");
            transition: all .2s;
            &:hover{
              cursor: pointer;
              background-image: url("../../images/facebook-square-hover.svg");
            }
          }
          .instagram{
            background-image: url("../../images/instagram-square.svg");
            transition: all .2s;
            &:hover{
              cursor: pointer;
              background-image: url("../../images/instagram-square-hover.svg");
            }
          }
          .twitter{
            background-image: url("../../images/twitter-square.svg");
            transition: all .2s;
            &:hover{
              cursor: pointer;
              background-image: url("../../images/twitter-square-hover.svg");
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    background-image: url("../../images/footer-dots-bottom-left.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: 55px 70px 75px 70px;
    color: #d5d5d5 !important;
    font-size: 16.5px;
    @media screen and (max-width: 576px){
      padding: 40px 10px ;
      font-size: 15px;
      background-position: -90px -10px;
    }
    .text{
      @media screen and (max-width: 576px){
        display: block !important;
      }
      a{
        color: #d5d5d5 !important;
        text-decoration: underline;
        @media screen and (max-width: 576px){
          padding: 0 6px;
        }
      }
    }
  }
}