.my-company-content-1{
  .my-company-content{
    padding: 0 30px 87px 30px;
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: -30px;
    @media screen and (max-width: 576px){
     padding: 0 10px;
      bottom: 30px;
    }
    .img{
      @media screen and (max-width: 576px){
        display: none;
      }
      position: absolute;
      width: 540px;
      height: 540px;
      border-radius: 50%;
      overflow: hidden;
      top: 85px;
      right: -75px;
      z-index: 100;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .my-company-1{
      overflow: hidden;
      padding-top: 60px;
      .my-company{
        @media screen and (max-width: 576px){
         padding-top: 10px;
          overflow: hidden;
        }
        position: relative;
        padding-top: 100px;
        width: 100%;
        background: #ededed;
        .dark-blue-circle{
          @media screen and (max-width: 576px){
            border: 2px dashed #a7a8aa;
            background: transparent;
            width: 260px;
            height: 260px;
            top: -155px;
            left: -160px;
            right: auto;
          }
          position: absolute;
          width: 569.4px;
          height: 591.4px;
          border-radius: 275.7px;
          background-clip: padding-box;
          top: -22px;
          right: -155px;
          background-color: #005593;
          background-image: linear-gradient(to top right,#003e7c,#0581d2);
        }
        .blue-circle{
          @media screen and (max-width: 576px){
            background-color: transparent !important;
            border: 2px dashed #e3173e;
            width: 300px;
            height: 300px;
            right: -150px;
            bottom: -100px;
            top: auto;
            opacity: 0.6;
          }
          position: absolute;
          width: 506.8px;
          height: 506.8px;
          border-radius: 245.4px;
          background-clip: padding-box;
          top: 20px;
          right: -65px;
          background-color: #00a1df;
        }
        .title{
          font-size: 18px;
          line-height: 35px;
          letter-spacing: 7px;
          color: #747474;
          font-weight: 800;
          padding: 19px 0 0 50px;
          text-transform: uppercase;
          @media screen and (max-width: 576px){
           font-size: 14px;
            padding: 19px 30px 0;
          }
        }
        .red-line{
          width: 100px;
          height: 3px;
          background: #e3173e;
          margin: 30px 0;
        }
        .text-content{
          max-width: 47%;
          padding-left: calc(30px + 40 * ((100vw - 767px)/733));
          padding-right: calc(30px + 40 * ((100vw - 767px)/733));
          color: #242b34;
          @media screen and (max-width: 576px){
            max-width: 100%;
            padding: 0 30px;
          }
          h2{
            font-size: calc(33px + 22 * ((100vw - 767px)/733));
            line-height: calc(43px + 22 * ((100vw - 767px)/733));
            margin: 10px 0 5px;
            font-weight: 700;
            @media screen and (max-width: 576px){
              font-size: 33px;
              line-height: 30px;
              margin-top: 0;
            }
          }
          p{
            font-size: 23px;
            font-weight: 300;
            @media screen and (max-width: 576px){
             font-size: 18px;
            }
          }
          .buttons{
            padding-bottom: 30px;
            .animation-button{

              display: inline-block;
              .button-text{
                font-size: 20px;
                color: #fff;
                text-transform: uppercase;
                height: 50px;
                font-weight: 700;
                margin-right: revert;
                //padding: 40px 10px 70px 10px;
                //line-height: 30px;
                position: relative;
                @media screen and (max-width: 576px){
                  padding: 40px 25px 25px 25px;
                  width: auto;
                }
                @media screen and (max-width: 305px){
                  display: block !important;
                }
                span{
                  transition: all .3s;
                  @media screen and (max-width: 576px){
                    font-size: 15px;
                  }
                }
                button{
                  box-sizing: border-box;
                  margin-left: 20px;
                  width: 46px;
                  height: 46px;
                  border: none;
                  border-radius: 50%;
                  background-color: #00a1df;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  @media screen and (max-width: 576px){
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    background-color:  #e3173e;
                    img{
                      width: 30px !important;
                      height: 11px !important;
                      transform: translateX(10px) !important;
                    }
                  }
                  img{
                    transition: all .37s;
                    transform: translateX(-14px);
                    width: 46px;
                    height: 15.55px;
                  }
                }
                &:hover{

                  cursor: pointer;
                  span{
                    transform: translateY(-3px);
                  }
                  button{
                    width: 34px;
                    height: 34px;
                    background-color: #e3173e;
                    box-shadow: 0 0 0 10px rgba(252, 252, 252, 0.5);
                    @media screen and (max-width: 576px){
                      margin-left: 10px;
                      width: 25px;
                      height: 25px;
                      box-shadow: none;
                      background-color:  #e3173e;
                      img{
                        width: 30px !important;
                        height: 11px !important;
                        transform: translateX(10px) !important;
                      }
                    }
                    img{
                      transform: translateX(15px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}