.navbar-content{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  @media screen and (max-width: 576px){
    position: relative;
    background-color: transparent;
  }
  .navbar{
    padding: 14px 30px !important;
    height: 100%;
    justify-content: space-between !important;
    background: transparent;
    transition: all .001s;
    position: relative;
    @media screen and (max-width: 576px){
      display: flex !important;
      padding: 12px 10px !important;
    }
    .navbar-brand{
      img{
        width: 240px;
        height: 60px;
      }
      .logo-white{
        display: none;
      }
      .logo{
        display: block;
      }
      .logo-white{
        @media screen and (max-width: 576px){
          display: none;
          width: 130px;
          height: 32px;
        }
      }
      .media-logo{
        @media screen and (max-width: 576px){
          display: block !important;
          width: 130px;
          height: 32px;
        }
      }

    }
    .navbar-nav{
      .nav-item{
        margin-right: 8px;
        .nav-link{
          padding: 0 20px;
          font-family: roboto,sans-serif;
          font-size: 1.125rem;
          font-weight: 700;
          background: 0 0;
          position: relative;
          color: #005492 ;
          text-transform: uppercase;
          transition:all .2s ;
          @media screen and (max-width: 576px){
            color: #fff;
          }
          &:hover{
            color: #242b34;
            @media screen and (max-width: 576px){
              color: #fff;
            }
          }
          .icon{
            width: 14px;
            height: 14px;
            position: relative;
            margin-top: 10px;
            margin-left: 3px;
            transition: all .5s;
            transform-origin:7px 3.5px;
            &:before{
              bottom: 0;
              right: 0;
              transform: rotate(-45deg);
              content: '';
              display: block;
              position: absolute;
              background-color: #e3173e;
              top: 3px;
              width: 9px;
              height: 2px;
              border-radius: 2px;
            }
            &:after{
              left: 0;
              position: absolute;
              transform: rotate(45deg);
              content: '';
              display: block;
              bottom: 0;
              background-color: #e3173e;
              top: 3px;
              width: 9px;
              height: 2px;
              border-radius: 2px;
            }
          }
        }
      }
      .nav-item:last-child{
        margin-right: 0;
        .nav-link{
          padding-right: 0;
        }
      }
    }
    .language{
      @media screen and (max-width: 576px){
        display: none;
      }
      #drop2{
        .text{
          display: flex;
          align-items: center;
          padding: 0 20px;
          font-family: roboto,sans-serif;
          font-size: 1.125rem;
          font-weight: 700;
          background: 0 0;
          position: relative;
          color: #005492 ;
          text-transform: uppercase;
          transition:all .2s ;
          &:hover{
            color: #242b34;
            cursor: pointer;
          }
          .icon{
            width: 14px;
            height: 14px;
            position: relative;
            margin-top: 10px;
            margin-left: 3px;
            transition: all .5s;
            transform-origin:7px 3.5px;
            &:before{
              bottom: 0;
              right: 0;
              transform: rotate(-45deg);
              content: '';
              display: block;
              position: absolute;
              background-color: #e3173e;
              top: 3px;
              width: 9px;
              height: 2px;
              border-radius: 2px;
            }
            &:after{
              left: 0;
              position: absolute;
              transform: rotate(45deg);
              content: '';
              display: block;
              bottom: 0;
              background-color: #e3173e;
              top: 3px;
              width: 9px;
              height: 2px;
              border-radius: 2px;
            }
          }
        }
        .text::before{
          visibility: hidden;
        }
        .menu-bar{
          opacity: 0;
          transition: all .5s;
          top: 87%;
          right: -1%;
          visibility: hidden;
          position: absolute;
          width: auto;
          z-index: 9;
          background-color: #fff;
          margin: 0 3%;
          border-top: 2px solid #005593;
          border-bottom: 5px solid #e3173e;
          box-shadow: 3px 3px 15px rgba(0,0,0,.05)!important;
          .menu-bar-content{
            visibility: hidden;
            padding: 40px 0 0 0;
            position: relative;
            margin-bottom: 5px;
            .cancel{
              position: absolute;
              right: 10px;
              top: 10px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 1px solid #005593;
              cursor: pointer;
              z-index: 50;
              &:before{
                transform: rotate(45deg);
                content: '';
                display: block;
                width: 12px;
                height: 1px;
                position: absolute;
                top: 10.3px;
                left: 5.25px;
                background-color: #005593;
              }
              &:after{
                transform: rotate(-45deg);
                content: '';
                display: block;
                width: 12px;
                height: 1px;
                position: absolute;
                top: 10.3px;
                left: 5.25px;
                background-color: #005593;
              }
            }
            .row{
              width: 100%;
              margin: 0;
              .col-md-12{
                padding: 0;
                .tab-list{
                  ul{
                    margin: 0;
                    padding: 0;
                    li{
                      margin: 0;
                      padding: 0;
                      a{
                        width: 100%;
                        padding: 10px 30px;
                        color: #005492;
                        transition: .3s;
                        font-size: 19px;
                        font-weight: 700;
                        img{
                          width: 22px;
                          height: 9px;
                          margin-right: 9px;
                          transition: all .3s;
                          transform: translateX(0);
                        }
                        &:hover{
                          img{
                            transform: translateX(4px);
                          }
                        }
                      }
                    }
                    li.active{
                      a{
                        background-color: #005593;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #drop2.is-hover{
        .menu-bar{
          opacity: 1;
          top: 100%;
          right: -1%;
          visibility: visible;
          position: absolute;
          width: auto;
          z-index: 100;
          background-color: #fff;
          margin: 0 3%;
          border-top: 2px solid #005593;
          border-bottom: 5px solid #e3173e;
          box-shadow: 3px 3px 15px rgba(0,0,0,.05)!important;
          .menu-bar-content{
            visibility: visible;
            padding: 40px 0 0 0;
            position: relative;
            margin-bottom: 5px;
            .cancel{
              position: absolute;
              right: 10px;
              top: 10px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 1px solid #005593;
              cursor: pointer;
              z-index: 50;
              &:before{
                transform: rotate(45deg);
                content: '';
                display: block;
                width: 12px;
                height: 1px;
                position: absolute;
                top: 10.3px;
                left: 5.25px;
                background-color: #005593;
              }
              &:after{
                transform: rotate(-45deg);
                content: '';
                display: block;
                width: 12px;
                height: 1px;
                position: absolute;
                top: 10.3px;
                left: 5.25px;
                background-color: #005593;
              }
            }
            .row{
              width: 100%;
              margin: 0;
              .col-md-12{
                padding: 0;
                .tab-list{
                  ul{
                    margin: 0;
                    padding: 0;
                    li{
                      margin: 0;
                      padding: 0;
                      a{
                        width: 100%;
                        padding: 10px 30px;
                        color: #005492;
                        transition: .3s;
                        font-size: 19px;
                        font-weight: 700;
                        img{
                          width: 22px;
                          height: 9px;
                          margin-right: 9px;
                          transition: all .3s;
                          transform: translateX(0);
                        }
                        &:hover{
                          img{
                            transform: translateX(4px);
                          }
                        }
                      }
                    }
                    li.active{
                      a{
                        background-color: #80adf9;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .text{
          color: #242b34;
          position: relative;
          .icon{
            transform: rotateX(180deg);
          }
        }
        .text::before{
          visibility: visible;
          opacity: 1;
          position: absolute;
          content: '';
          width: 28px;
          height: 28px;
          bottom: -51px;
          right: 15px;
          z-index: 30;
          border-top: 2px solid #005593;
          border-left: 2px solid #005593;
          background-color: white;
          transform: rotate(45deg);
        }
      }
    }
    @media screen and (max-width: 576px){
      .navbar-nav{
        transition: all .3s;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 105%;
        .nav-item{
          margin: 0;
          .nav-link{
            color: #fff;
            border-bottom: 1px solid #266ea3;
            padding: 20px 40px;
            font-size: 16px;
            background-color: #005492;
          }
        }
      }
      .navbar-icon{
        display: block !important;
        border: 1px solid #005593;
        background-color: transparent;
        min-width: 25px;
        max-width: 25px;
        height: 25px;
        padding: 8px 6px;
        border-radius: 50%;
        .navbar-icon-content-1{
          .icon-line{
            width: 11px;
            height: 1px;
            background-color: #005492;
            border-radius: 1px;
          }
          .icon-line:first-child{
            margin-bottom: 2px;
          }
          .icon-line:nth-child(2){
            margin-bottom: 2px;
          }
        }
        .navbar-icon-content-2{
          position: relative;
          .icon-line{
            width: 11px;
            height: 1px;
            background-color: #005492;
            border-radius: 1px;
          }
          .icon-line:first-child{
            transform: rotate(45deg);
            position: absolute;
            left: 0.35px;
            top: 3px;
          }
          .icon-line:nth-child(2){
            transform: rotate(-45deg);
            position: absolute;
            left: 0.35px;
            top: 3px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px){
  .navbar-content.collapse-open-bg{
    background-color: #005492;
    .navbar{
      .navbar-brand{
        img{
          display: none !important;
          width: 130px;
          height: 32px;
        }
        .logo-white{
          display: block !important;
        }
      }
      .navbar-nav{
        left: 0;
        top: 100%;
      }
      .navbar-icon{
        border-color: #fff;
        .navbar-icon-content-1, .navbar-icon-content-2{
          .icon-line{
            background: #fff;
          }
        }
      }
    }
  }
}





// ******************* bular faqat desktop uchun ishlatilgan classlar nobile ga aloqasi yoq
.navbar-content.border-bottom{
  z-index: 1002;
  border-bottom: 1px solid #e0e0e0;
  //@media screen and (max-width: 576px){
  //  border-bottom: none;
  //}
  .navbar {
    background-color: rgba(255, 255, 255, .95);
    .navbar-brand{
      .logo-white{
        display: none;
      }
      .logo{
        display: block;
      }
    }
  }
}
.navbar-content.background-white{
  .navbar{
    .navbar-brand{
      .logo-white{
        display: block;
        @media screen  and (max-width: 576px){
          display: none;
        }
      }
      .logo{
        display: none;
      }
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          color: #fff;
          &:hover{
            color: #242b34;
          }
          .icon{
            &:before{
              background-color: #fff;
            }
            &:after{
              background-color: #fff;
            }
          }
        }
      }
    }
    .language{
      #drop2{
        .text{
          color: #fff;
          &:hover{
            color: #242b34;
          }
          .icon{
            &:before, &:after{
              background-color: #fff;
            }
          }
        }
      }
      #drop2.is-hover{
        .menu-bar{
          border-color: transparent;
        }
        .text{
          &:before{
            border-color: transparent;
          }
        }
      }
    }
  }
}
.navbar-content.background-white.border-bottom{
  border-bottom: 1px solid #e0e0e0;
  .navbar{
    background-color: rgba(255,255,255,.95);
    .navbar-brand{
      .logo-white{
        display: none;
      }
      .logo{
        display: block ;
      }
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          color: #005492 !important; ;
        }
        .nav-link:hover{
          color: #242b34 !important;
        }
      }
    }
    .language{
      #drop2{
        .text{
          color: #005492;
          &:before{
            border-top-color:#005593;
            border-left-color:#005593;
          }
          .icon{
            &:before, &:after{
              background-color: #e3173e
            }
          }
        }
        .text:hover{
          color: #242b34;
        }
        .menu-bar{
          border-top: 2px solid #005593 ;
          border-bottom: 5px solid #e3173e ;
        }
      }
    }
  }
}
@media screen and (min-width: 2500px){
  .navbar-content{
    width: 2500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1950px){
  .navbar-content{
    .navbar{
      .language{
        #drop2{
          .menu-bar{
            right: -2%;
          }
        }
        #drop2.is-hover{
          .menu-bar{
            right: -2%;
          }
        }
      }
    }
  }
}
// ******************
