.portfolio{
  padding: 20px 30px;
  background-color: #ededed;
  margin-bottom: 1px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 576px){
   padding: 30px 10px 0 10px;
  }
  .left-img{
    position: absolute;
    top: 50px;
    left: 0;
    @media screen and (max-width: 576px){
      width: 200px;
      height: 400px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .img-bottom{
    position: absolute;
    bottom: -175px;
    right: -45px;
    transform: rotate(45deg);
    @media screen and (max-width: 576px){
      width: 150px;
      height: 350px;
    }
  }
  .brand{
    padding: 19px 56px 0 56px;
    color: #747474;
    letter-spacing: 5.5px;
    font-size: 19px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    @media screen and (max-width: 576px){
      padding: 19px 30px 0 30px;
      font-size: 15px;
    }
  }
  .red-line{
    width: 100px;
    height: 3px;
    background: #e3173e;
    margin: 30px 0;
  }
  h1{
    padding: 0 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    letter-spacing: -1px;
    font-size: 55px;
    @media screen and (max-width: 576px){
      font-size: 33px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
  .row{
    width: 100%;
    padding:25px 35px;
    @media screen and (max-width: 576px){
      margin: 0;
      padding: 0;
    }
    .col-md-4{
      padding: 0;
      margin-bottom: 120px;
      @media screen and (max-width: 576px){
        margin: 0;
      }
      .card-content{
        padding: 12px 12px 30px 12px;
        transition: all .4s;
        position: relative;
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 576px){
          width: 100%;
          padding: 12px 12px 30px 12px;
        }
        .dark-now{
          @media screen and (max-width: 576px){
           display: none !important;
          }
          position: absolute;
          top: -10px;
          left: -10px;
          right: -10px;
          bottom: -10px;
          background-color: transparent;
          z-index: 0;
          transition: all .6s;
          opacity: 0;
        }
        &:hover{
          cursor: pointer;
          .dark-now{
            opacity: 1;
            background-color: #242b34 !important;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
          }
          @media screen and (max-width: 576px){
            .card{
              .img-content{
                img{
                  transform: scale(1) !important;
                }
              }
              .name{
                color: #747474 !important;
              }
              .description{
                color: #242b34 !important;
              }
            }
          }
          .card{
            color: #fff ;
            .img-content{
              overflow: hidden;
              img{
                transform: scale(1.09);
              }
            }
            .name{
              color: #fff;
            }
          }
        }
        .card{
          background-color: transparent !important;
          border-radius: 0;
          border: none;
          transition: all .4s;
          .img-content{
            overflow: hidden;
            width: 100%;
            height: 250px;
            img{
              transition: all 1s;
              width: 100%;
              height: 100%;
            }
          }
          .name{
            letter-spacing: 7px;
            color: #747474;
            text-transform: uppercase;
            font-weight: 800;
            padding-top: 18px;
            padding-bottom: 19px;
            text-align: center;
            @media screen and (max-width: 576px){
             font-weight: 600;
              font-size: 15px;
            }
          }
          .red-line{
            width: 100px;
            height: 3px;
            background: #e3173e;
            margin: 0;
          }
          .description{
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
            padding-top: 20px;
            max-width: 85%;
            letter-spacing: -.02em;
            padding-left: 65px;
            @media screen and (max-width: 576px){
             padding: 20px 30px 0 30px;
              font-size: 25px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}