
.work{
  .video-content{
    margin-bottom: 90px;
    top: 98px;
    position: relative;
    left: 0 ;
    right: 0 ;
    height: 760px;
    overflow: hidden !important;
    @media screen and (max-width: 576px){
      height: 180px;
      top: 0;
    }
    .bg-img{
      background-image: url("../../images/work.jpg");
      background-size: 100% 100%;
      bottom: 0;
      top:0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      .text-content{
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 576px){
          width: 100%;
          text-align: center;
        }
        h1{
          text-align: center;
          line-height: 1.15;
          font-weight: 700;
          color: #242B34;
          font-size: 35px;
          @media screen and (max-width: 576px){
            font-size: 14px;
          }
        }
        button{
          width: 93px;
          height: 93px;
          display: block;
          margin: 0 auto;
          border: 2px solid #f6f6f6;
          border-radius: 50%;
          background: #005392;
          font-size: 0;
          line-height: 0;
          color: transparent;
          position: relative;
          transition: background .3s;
          @media screen and (max-width: 576px){
            width: 39px;
            height: 39px;
          }
          &:before{
            position: absolute;
            top: 0;
            left: 15%;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 0;
            content: "";
            border-top: 23px solid transparent;
            border-bottom: 23px solid transparent;
            border-left: 30px solid #e4e4e4;
            @media screen and (max-width: 576px){
              border-top-width: 10px;
              border-bottom-width: 10px;
              border-left-width: 15px;
            }
          }
        }
      }
    }
    .video-player{
      position: absolute ;
      top:0 ;
      height: 100% ;
      width: 100% ;
      right: 0 ;
      bottom: 0 ;
      left: 0 ;
      z-index: 2;
    }
    .video-player.active{
      z-index: 10;
    }
  }
}