*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100% ;

}
@media screen and (max-width: 576px){
    .App{
        width: 100%;
        overflow: hidden;
    }
}
@media screen and (min-width: 2500px){
    .App{
        width: 2500px;
        margin-left: auto;
        margin-right: auto;
    }
}